.speech
{
    font-family: Arial, sans-serif;
    color:black;
    font-size: medium;
}
.direction
{
    font-family: Times New Roman, serif;
    background-color:lightgreen;
    color: black;   
    font-size:small;
    transition: background-color 0.3s, color 0.3s;
}
.name {
    color:darkblue;
}
.direction:hover
{
    background-color: maroon;
    color:darkorange;
    background-color:blueviolet;
}
.MISS TESMAN {
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.HEDDA {
    color:magenta;
    font-family: 'Times New Roman', Times, serif;
}
.TESMAN {
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table {
    border-color: white;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  th {
    border: 2px solid;
    border-radius: 6px;
    border-color: firebrick;
    height: 40px;
    color: red;
    background-color: rgb(68,205,150 );
  }
  td {
    border: 2px solid;
    border-radius: 20px;
    border-color: firebrick;
    background-color: blanchedalmond;
    height: 40px;
  }
  tr:hover {background-color: lightskyblue;}

  .HEDDA:hover{
    font-size: medium;
    color: pink;
    text-shadow: 0 0 20px rgb(154, 200, 75);
    border-style: double;
    border-radius: 25px;
  }
  .TESMAN:hover{
    font-size: medium;
    color: blue;
    text-shadow: 0 0 20px rgb(110, 145, 180);
    border-style: dashed;
    border-radius: 20px;
  }
  .MISS TESMAN:hover{
    font-size: medium;
    color: red;
    text-shadow: 0 0 20px rgb(25, 235, 150);
    border-style: dotted;
    border-radius: 10px;
  }
  ul.navbar-horizontal {
        
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: #000 5px;
    }
    ul.navbar-horizontal li {
    border: solid 2px black;
    margin: 4px;
    float:left;
    color:#000;
    background-color:blueviolet;
    }
    ul.navbar-horizontal a {
    display:block;
    padding:6px
    }
    
    ul.navbar-horizontal a:hover {  
    background-color: lightseagreen;
    color:white;
    }